/*
   * Remove template code below
   */
html, body {
  mix-blend-mode: color-burn;
  margin: 0;
  background-repeat: repeat-x, no-repeat;
  background-size: cover;}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
