.container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;

}
#tabs1, #tabs2, #tabs3, app-nav, #slider {
  display: flex;
  flex-direction: row;
}
