
<div class="flexslider kenburn" id="slider">
  <ul class="slides">
    <li
      style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block;"
      class="flex-active-slide">

      <div class="slide-wrap">
        <div class="slide-content" style="">
          <div class="container">

            <div class="text" id="tabs"  style="font-family: 'Playfair Display',serif; font-weight:normal; font-size:11px; letter-spacing:3px; margin-top: 4px; color:#b49c5d; text-transform: uppercase;">
            </div>
            <div  id="tabs1"  style="font-family: 'Playfair Display',serif; font-weight:normal; font-size:11px; letter-spacing:3px; margin-top: 4px; color:#b49c5d; text-transform: uppercase;">
              <div  id="tabs2"  style="font-family: 'Playfair Display',serif; font-weight:normal; font-size:11px; letter-spacing:3px; margin-top: 4px; color:#b49c5d; text-transform: uppercase;">
                <div id="tabs3"  style="font-family: 'Playfair Display',serif; font-weight:normal; font-size:11px; letter-spacing:3px; margin-top: 4px; color:#b49c5d; text-transform: uppercase;">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ol class="flex-control-nav flex-control-paging"></ol>
</div>

<nav>
  <div class="container">
    <div class="logo">
      <a href="index.html">


      </a>
    </div>
  </div>
</nav>
<script type="text/babel" src="scramble-directive.babel.js"></script>
